@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');


body, html {
  height: 100%;
  background: linear-gradient(180deg, rgba(184,119,20,1) 0%, rgba(112,64,13,1) 100%);
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Mate SC', serif;
}

a {
  text-decoration: none;
}

.header-cnt {
  margin-top: 30px;
display: flex;
justify-content: center;
}

.header-cnt h2 {
  color: white;
  font-size: 50px;
}

.desc-cnt {
  color: white;
  text-align: center;
}

.search-cnt {
  text-align: center;
}

#search-input {
width: 300px;
padding: 10px;
border: none;
outline: none;
}

#submit-btn {
  border: none;
  outline: none;
  padding: 10px;
  color:white;
  background-color: rgba(112,64,13,0.8);
  cursor: pointer
}

.results-cnt {
  width: 50%;
  height: 550px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: auto;
}

ul {
  justify-content: center;
  list-style: none;
  display: flex;

}

.page-item {
  padding: 5px;
}

.page-link {
  color: white;
  cursor: pointer;
}