@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');


html {
  min-height: 100%;
  background: linear-gradient(180deg, rgba(184,119,20,1) 0%, rgba(112,64,13,1) 100%);
  background-repeat: no-repeat;
}

body {
  font-family: 'Mate SC', serif;
}

.rtl {
  direction: rtl;
}

.absolute-btn {
  position: fixed;
  bottom: 3%;
  right: 3%;
}


a {
  text-decoration: none;
  color: white;
}

.header-cnt {
  margin: 0 auto;
  margin-top: 15px;
  width: 25%;
display: flex;
justify-content: center;
direction: ltr;
}

.header-cnt h2 {
  color: white;
  font-size: 50px;
}

.choice-cnt {
  display: flex;
  justify-content: center;
}

.choice-item {
  padding: 0 10px 0 10px;
  transition: 0.3s ease;
}

.choice-item:hover {
  text-shadow: 0px 2px 3px rgba(22, 22, 22, 0.98);
}

.home-description {
  width: 50%;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(112,64,13,0.8);
  border-radius: 10px;
  box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -webkit-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
}




.fact-searcher-cnt {
  color: white;
  text-align: center;
}

.search-cnt {
  text-align: center;
}

#search-input {
width: 300px;
padding: 10px;
border: none;
outline: none;
direction: ltr;
}

.submit-btn {
  border: none;
  outline: none;
  width: 70px;
  padding: 10px;
  color:white;
  background-color: rgba(112,64,13,0.8);
  cursor: pointer
}

.results-cnt {
  width: 50%;
  /* height: 550px; */
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* overflow: auto; */
  padding: 10px;
}

.results-item {
  background-color: rgba(112,64,13,0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -webkit-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
}

.total-results {
  text-align: center;
  color: white;
}

ul {
  justify-content: center;
  list-style: none;
  display: flex;

}

/* page classes */
.page-item {
  padding: 5px;
}

.page-link {
  color: white;
  cursor: pointer;
}

.page-btn-cnt {
  text-align: center;
}

.page-btn {
  padding: 5px;
  border-radius: 20px;
  width: 100px;
  margin: 5px;
  border: none;
  outline: none;
  color:white;
  background-color: rgba(112,64,13,0.8);
  cursor: pointer;
  transition: 0.3s ease;;

}

.page-btn:hover {
  box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -webkit-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
}

#page-counter {
  color: rgba(255, 255, 255, 0.481);
}

/* spinner */
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Random  */

.random-cnt {
  text-align: center;
}

.random-btn {
  width: 180px;
  border-radius: 20px;
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgba(112,64,13,0.8);
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}

.random-fact {
  margin: 0 auto;
  margin-top: 100px;
  width: 60%;
  color: white;
  background-color: rgba(112,64,13,0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -webkit-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 9px 6px -4px rgba(0,0,0,0.55);
}

/* Categories */

.categories {
  text-align: center;
  color: white;
}

.categories-cnt {
  display: flex;
  justify-content: center;
}

.categories-item {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.categories-item:hover {
  text-shadow: 0px 2px 3px rgba(22, 22, 22, 0.98);
}

.categories-btn {
  width: 350px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgba(112,64,13,0.8);
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}